*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
background-color: black;
color: white;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    font-size: 40px;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: rgb(0, 213, 255);
    color: white;
    border: none ;
    font-weight: 900;

}